// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

/* base colours */
$white: #FCFCFC;
$slateblue: #8083FF;
$darkgrey: #5C5C5C;
$lightgrey: #A6A6A6;
$whitegrey: #DDDDDD;
$icyblue: #F2F7FA;
$turquoise: #B4DCED;
$skyblue: #81cdde;

/*back ground*/
$bg-colour1: #FCFCFC;
$bg-colour2: #faf7ff;

/* font */
$text-font: 'Quicksand', sans-serif;
$header-font: 'Source Code Pro', monospace;
$jp-font: 'Shippori Mincho', serif;

$body-font-family: $text-font;

/* font size */
$bg-size: 120px;
$header-size: 60px;
$title-size: 30px;
$subtitle-size: 20px;
$mobile-text-size: 16px;

/* media queries */
$xs: 600px; // small to large phone
$sm: 960px; // small to medium tablet
$md: 1264px;  // large tablet to laptop
$lg: 1904px;  // desktop

@mixin xs {
  @media (max-width: ($xs)) {
    @content;
  }
}
@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}
@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}
@mixin lg {
  @media (max-width: ($lg)) {
    @content;
  }
}
 /* vuetify theme config */
// use this line to customize your own vuetify variables.
@import '~vuetify/src/styles/styles.sass';

// theme to override, same applies for $material-light
$material-light: map-merge(
  $material-light,
  (
    'background': $bg-colour1,
    'text': (
      'primary': $darkgrey,
      'secondary': $darkgrey,
    ),
  )
);

$material-dark: map-merge(
    $material-dark,
    (
      'background': $darkgrey,
      'text': (
        'primary': $white,
      ),
    )
);

/* animations */
@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes moveUnder {
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}

@keyframes fade-in-left {
  0%{
    opacity: 0;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-right {
  0%{
    opacity: 0;
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-up {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes up-and-down{
  0%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0);
    // opacity: 0;
  }
  100%{
    transform: translateY(20px);
  }
}
/*
  -- google font available --
  font-family: 'Quicksand', sans-serif;
  font-family: 'Shippori Mincho', serif;
  font-family: 'Source Code Pro', monospace;
*/
